# {{ ansible_managed }}

[Unit]
Description=Data caching daemon for rrdtool
Documentation=man:rrdcached(1)

[Service]
ExecStart=/usr/bin/rrdcached -w 1800 -z 1800 -f 3600 -s rrd -l unix:/run/rrdcached.sock -j /var/lib/rrdcached/journal/ -F -b /var/lib/rrdcached/rrd/ -B -g

[Install]
WantedBy=multi-user.target
