[Unit]
Description = Run Observium Discovery for new hosts

[Timer]
Unit = observium-discovery@new.service
OnUnitActiveSec = 5min
OnBootSec = 1min

[Install]
WantedBy = timers.target
