[Unit]
Description = Run Observium Discovery for all hosts

[Timer]
Unit = observium-discovery@all.service
OnUnitActiveSec = 1h
OnBootSec = 0

[Install]
WantedBy = timers.target
