[Unit]
Description=Observium discovery of new hosts

[Timer]
Unit=observium-discovery@new.service
OnUnitActiveSec=5min
OnBootSec=1min

[Install]
WantedBy=timers.target
