[Unit]
Description = Observium Discovery

[Service]
Type = oneshot
ExecStart = /opt/observium/discovery.php -h %i

[Install]
WantedBy = timers.target
